.cmd {
  display: block;
  color: #bda393;
}

.cmd:before {
  content: '> ';
  color: #8ec07c;
}

input {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  caret-color: #ebdbb2;
  width: 90%;
}

input:focus {
  outline: none;
}
