{
  "semi": true,
  "printWidth": 100,
  "singleQuote": false,
  "trailingComma": "es5",
  "endOfLine": "auto",

  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "pluginSearchDirs": false,
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
