@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 2px;
}

*::-webkit-scrollbar-thumb {
  @apply bg-gruvbox-bg2 dark:bg-gruvboxDark-bg2;
}

@layer utilities {
  .nb-shadow {
    box-shadow: 0.15rem 0.15rem 0 0px #3c3836;
  }
  .nb-shadow:hover {
    box-shadow: 0.3rem 0.3rem 0 0px #3c3836;
  }
}
