@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 2px;
}

*::-webkit-scrollbar-thumb {
  @apply bg-gruvbox-bg2 dark:bg-gruvboxDark-bg2;
}

@layer utilities {
  .nb-shadow:hover {
    box-shadow: 0.25rem 0.25rem 0 0px #3c3836;
  }
}

@media (pointer: fine) {
  body:hover > #__trail {
    opacity: 1;
  }
}

.trail_hidden {
  opacity: 0 !important;
}
