---
export const prerender = false;
import BaseLayout from "~/layouts/BaseLayout.astro";
---

<BaseLayout title="404">
  <div class="pt-4 font-mono text-2xl font-bold">Error 404: Not found</div>
</BaseLayout>
