---
import BaseLayout from "~/layouts/BaseLayout.astro";
---

<BaseLayout title="404">
  <div class="flex items-center justify-center pt-16 font-mono text-3xl font-bold">
    Error 404: Not found
  </div>
</BaseLayout>
