---
import BaseLayout from "~/layouts/BaseLayout.astro";

import ContactForm from "~/components/ContactForm";
import IconEmail from "~/components/icons/IconEmail.astro";
import IconGitHub from "~/components/icons/IconGitHub.astro";
import IconLinkedIn from "~/components/icons/IconLinkedIn.astro";
---

<BaseLayout title="Contact">
  <div class="flex w-full flex-col items-center gap-8 pt-4">
    <div
      class="flex w-full max-w-[80ch] flex-wrap justify-center gap-4 text-lg text-gruvbox-fg dark:text-gruvboxDark-fg md:gap-16"
    >
      <a
        href="mailto:contact@n9ze.com"
        title="Email"
        class="flex items-center gap-1 font-bold hover:underline"
      >
        <IconEmail class="h-5 w-5 text-gruvbox-yellow" /> contact@n9ze.com
      </a>
      <a
        href="https://github.com/99nize"
        title="GitHub"
        target="_blank"
        rel="noopener noreferrer"
        class="flex items-center gap-1 font-bold hover:underline"
      >
        <IconGitHub class="h-5 w-5 text-gruvbox-fg0 dark:text-gruvboxDark-fg0" /> 99nize
      </a>
      <a
        href="https://linkedin.com/in/nize"
        title="LinkedIn"
        target="_blank"
        rel="noopener noreferrer"
        class="flex items-center gap-1 font-bold hover:underline"
      >
        <IconLinkedIn class="h-5 w-5 text-gruvbox-blue" /> nize
      </a>
    </div>
    <ContactForm client:idle />
  </div>
</BaseLayout>
