---
import IntroCard, { type Props as CardProps } from "~/components/IntroCard.astro";

import IconDocument from "~/components/icons/IconDocument.astro";
import IconEmail from "~/components/icons/IconEmail.astro";
import IconGitHub from "~/components/icons/IconGitHub.astro";
import IconLinkedIn from "~/components/icons/IconLinkedIn.astro";
import IconTools from "~/components/icons/IconTools.astro";
import IconX from "~/components/icons/IconX.astro";

import BaseLayout from "~/layouts/BaseLayout.astro";

import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import Cmd from "~/components/Cmd.astro";
import FormattedDate from "~/components/FormattedDate.astro";
import IconLink from "~/components/icons/IconLink.astro";

const featuredProject: CardProps = {
  title: "Varo",
  description:
    "An AI-powered matchmaking platform for developers, open-source projects, and indie founders.",
};

const latestPost = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)[0];
---

<BaseLayout>
  <div class="flex w-full flex-col gap-32 pt-16">
    <div class="flex w-full flex-col items-center gap-5">
      <div
        class="flex w-full flex-col items-center justify-center gap-4 text-gruvbox-fg dark:text-gruvboxDark-fg sm:flex-row sm:gap-7"
      >
        <Image
          src="/images/nize.png"
          alt="nize's avatar"
          width={96}
          height={96}
          loading="eager"
          class="nb-shadow rounded-sm border border-gruvbox-fg bg-gruvbox-bg transition-shape duration-200 dark:rounded-[48px] dark:border-none dark:shadow-none dark:hover:-translate-y-1"
        />
        <span class="font-azeret text-3xl">// nize</span>
      </div>
      <p class="my-4 max-w-[40ch] text-center font-sans sm:my-1 sm:text-lg">
        I'm Nathaniel, a software engineer on a mission to build products that can make a
        difference.
      </p>
      <div class="mt-2 flex w-full max-w-[18rem] items-center justify-evenly gap-3">
        <a href="mailto:nize@mugnavo.com" title="nize@mugnavo.com">
          <IconEmail
            class="size-6 text-gruvbox-yellow transition-transform duration-200 hover:scale-110"
          />
        </a>
        <a
          href="https://github.com/dotnize"
          title="dotnize on GitHub"
          target="_blank"
          rel="noopener noreferrer"
        >
          <IconGitHub
            class="size-6 text-gruvbox-fg0 transition-transform duration-200 hover:scale-110 dark:text-gruvboxDark-fg0"
          />
        </a>
        <a
          href="https://x.com/dotnize"
          title="dotnize on X"
          target="_blank"
          rel="noopener noreferrer"
        >
          <IconX
            class="size-6 text-gruvbox-fg0 transition-transform duration-200 hover:scale-110 dark:text-gruvboxDark-fg0"
          />
        </a>
        <a
          href="https://linkedin.com/in/nize"
          title="nize on LinkedIn"
          target="_blank"
          rel="noopener noreferrer"
        >
          <IconLinkedIn
            class="size-6 text-gruvbox-blue transition-transform duration-200 hover:scale-110"
          />
        </a>
      </div>
    </div>
    <div class="mb-12 mt-4 flex flex-col gap-4">
      <Cmd>featured --stuff</Cmd>
      <div class="flex w-full flex-wrap justify-center gap-4 sm:px-4">
        <IntroCard {...featuredProject}>
          <div slot="subtitle">
            <div class="inline-flex items-center">
              <IconTools class="size-3" />
            </div>
            {" Featured project"}
          </div>

          <a
            slot="link"
            href="https://varo.dev"
            class="flex items-center gap-1 hover:underline"
            target="_blank"
            rel="noopener noreferrer"
            title="Varo"
          >
            <IconLink class="size-4" />
            varo.dev
          </a>

          <a
            slot="link"
            href="https://github.com/mugnavo/varo.dev"
            class="flex items-center gap-1 hover:underline"
            target="_blank"
            rel="noopener noreferrer"
            title="GitHub repository"
          >
            <IconGitHub class="size-4" />
            GitHub
          </a>
        </IntroCard>
        <IntroCard title={latestPost.data.title} description={latestPost.data.description}>
          <div slot="subtitle">
            <div class="inline-flex items-center">
              <IconDocument class="size-3" />
            </div>
            {" "}<FormattedDate date={latestPost.data.pubDate} />
          </div>

          <a
            slot="link"
            href={`/blog/${latestPost.id.split("/").pop()}/`}
            title="Read blog post"
            class="flex items-center justify-end text-sm font-bold text-gruvbox-fg3 transition-all hover:text-gruvbox-blue dark:text-gruvboxDark-fg4 dark:hover:text-gruvboxDark-blue"
          >
            Read post
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="size-5"
            >
              <path
                fill-rule="evenodd"
                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
        </IntroCard>
      </div>
    </div>

    <div class="flex flex-col gap-3">
      <Cmd>contact --me</Cmd>
      <a
        href="/contact/"
        class="nb-shadow ml-2 flex w-fit items-center gap-1 rounded border border-gruvbox-fg bg-gruvbox-aqua2 p-2 font-bold text-gruvbox-bgH transition-all dark:rounded-md dark:border-none dark:shadow-md dark:transition-none dark:hover:bg-gruvbox-aqua dark:hover:text-white sm:ml-4"
      >
        <IconEmail class="size-5" />
        Contact me!</a
      >
    </div>

    <div class="mb-28 flex w-full flex-col gap-2">
      <Cmd
        >webring -n
        <a
          class="font-medium text-gruvbox-fg0 hover:underline dark:text-gruvboxDark-fg0"
          href="https://webring.antaresph.dev">Pinoy Websites</a
        >
      </Cmd>
      <div
        class="ml-2 flex w-fit items-center rounded-md border border-gruvbox-bg2 font-azeret text-sm font-medium dark:border-gruvboxDark-bg1 sm:ml-4 sm:text-base"
      >
        <a
          class="p-1.5 hover:bg-gruvbox-bg2 hover:text-gruvbox-fg0 dark:hover:bg-gruvboxDark-bg1 dark:hover:text-gruvboxDark-fg0"
          href="https://webring.antaresph.dev/previous">&lt; Previous</a
        >
        <a
          class="border-x border-gruvbox-bg2 p-1.5 px-2 hover:bg-gruvbox-bg2 hover:text-gruvbox-fg0 dark:border-gruvboxDark-bg1 dark:hover:bg-gruvboxDark-bg1 dark:hover:text-gruvboxDark-fg0"
          href="https://webring.antaresph.dev/random">Random</a
        >
        <a
          class="p-1.5 hover:bg-gruvbox-bg2 hover:text-gruvbox-fg0 dark:hover:bg-gruvboxDark-bg1 dark:hover:text-gruvboxDark-fg0"
          href="https://webring.antaresph.dev/next">Next &gt;</a
        >
      </div>
    </div>
  </div>
</BaseLayout>
