---
import BaseLayout from "~/layouts/BaseLayout.astro";
import Contact from "~/components/Contact.astro";

import { Image } from "astro:assets";
---

<BaseLayout>
  <div
    class="flex w-full flex-col items-center justify-center gap-4 text-gruvbox-fg dark:text-gruvboxDark-fg sm:flex-row md:-mt-16 xl:-mt-32"
  >
    <button type="button" id="avatarBtn">
      <Image
        src="/images/nize.png"
        alt="nize's avatar"
        width={96}
        height={96}
        loading="eager"
        class="nb-shadow cursor-pointer rounded-sm border border-gruvbox-fg bg-gruvbox-bgH transition-shape duration-200 dark:rounded-[48px] dark:border-none dark:shadow-none dark:hover:-translate-y-1"
      />
    </button>

    <div class="flex flex-col flex-wrap">
      <h1 class="text-center font-azeret text-3xl">Nathaniel Tampus</h1>
      <span class="text-center font-azeret text-lg sm:text-start">// nize</span>
    </div>
  </div>

  <p class="my-8 max-w-prose text-center font-sans">
    I'm Nathaniel, a web developer from the Philippines.
  </p>

  <Contact />

  <script>
    const avatarBtn = document.getElementById("avatarBtn");
    if (avatarBtn) {
      avatarBtn.addEventListener("click", () => {
        if (
          document.documentElement.classList.contains("dark") ||
          (!("theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
          document.documentElement.classList.remove("dark");
          localStorage.theme = "light";
        } else {
          document.documentElement.classList.add("dark");
          localStorage.theme = "dark";
        }
      });
    }
  </script>
</BaseLayout>
