---
const { text } = Astro.props;
---

<div class="font-azeret text-sm text-gruvbox-fg3 dark:text-gruvboxDark-fg3">
  <span class="text-gruvbox-aqua dark:text-gruvboxDark-aqua2">&gt;&nbsp;</span>{text}
</div>
