---
import IconEmail from "./icons/IconEmail.astro";
import IconGitHub from "./icons/IconGitHub.astro";
import IconLinkedIn from "./icons/IconLinkedIn.astro";
import IconX from "./icons/IconX.astro";
---

<div class="flex w-full items-center justify-center gap-10 sm:gap-16">
  <a href="mailto:nize@mugnavo.com" title="nize@mugnavo.com">
    <IconEmail
      class="size-6 text-gruvbox-yellow transition-transform duration-200 hover:scale-110"
    />
  </a>
  <a
    href="https://github.com/dotnize"
    title="dotnize on GitHub"
    target="_blank"
    rel="noopener noreferrer"
  >
    <IconGitHub
      class="size-6 text-gruvbox-fg0 transition-transform duration-200 hover:scale-110 dark:text-gruvboxDark-fg0"
    />
  </a>
  <a href="https://x.com/dotnize" title="dotnize on X" target="_blank" rel="noopener noreferrer">
    <IconX
      class="size-6 text-gruvbox-fg0 transition-transform duration-200 hover:scale-110 dark:text-gruvboxDark-fg0"
    />
  </a>
  <a
    href="https://linkedin.com/in/nize"
    title="nize on LinkedIn"
    target="_blank"
    rel="noopener noreferrer"
  >
    <IconLinkedIn
      class="size-6 text-gruvbox-blue transition-transform duration-200 hover:scale-110"
    />
  </a>
</div>
