<footer
  class="my-4 flex w-fit items-center gap-2 border-r-2 border-gruvbox-fg pr-1.5 font-azeret text-xs motion-safe:animate-blink motion-reduce:border-transparent motion-safe:dark:border-gruvboxDark-fg"
>
  <span class="text-gruvbox-aqua dark:text-gruvboxDark-aqua2">&gt;</span>
  <a href="mailto:hi@nize.foo" class="hover:underline" title="Email">hi@nize.foo</a>
</footer>
