<footer
  class="mt-8 flex w-fit items-center gap-2 border-r-2 border-gruvbox-fg font-azeret text-sm motion-safe:animate-blink motion-reduce:border-transparent motion-safe:dark:border-gruvboxDark-fg"
>
  <span class="text-gruvbox-aqua dark:text-gruvboxDark-aqua2">&gt;</span>
  <a href="mailto:contact@nize.ph" class="hover:underline" title="Email"> contact@nize.ph</a>
  <span></span>
</footer>
