---
const { href } = Astro.props;
const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<li>
  <a
    data-astro-prefetch="load"
    href={href}
    class={"__highlight group relative flex h-16 w-16 flex-col items-center justify-center gap-1 rounded-lg border border-transparent p-2" +
      (isActive
        ? " pointer-events-none shadow-md hmd:border-gruvbox-bg2 dark:hmd:border-gruvboxDark-bg2"
        : "")}
  >
    <slot />
    <div
      class="absolute h-full w-full scale-95 rounded-lg border border-gruvbox-bg2 opacity-0 transition-all group-hover:scale-105 group-hover:opacity-100 dark:border-gruvboxDark-bg2"
    >
    </div>
  </a>
</li>
