---
import NavLink from "./NavLink.astro";
import ThemeToggle from "./ThemeToggle";
import IconEmail from "./icons/IconEmail.astro";
import IconHome from "./icons/IconHome.astro";
---

<header
  class="sticky top-0 z-50 flex items-center justify-between rounded-t border border-b-0 border-gruvbox-bg1 bg-gruvbox-bg1 px-3 transition-shape duration-200 dark:border-gruvboxDark-bg dark:bg-gruvboxDark-bgXH"
>
  <div class="flex items-center gap-3 pt-1">
    <div class="flex gap-2">
      <div class="size-1.5 rounded-sm bg-gruvbox-yellow dark:bg-gruvboxDark-yellow2"></div>
      <div class="size-1.5 rounded-sm bg-gruvbox-green dark:bg-gruvboxDark-green2"></div>
      <div class="size-1.5 rounded-sm bg-gruvbox-red dark:bg-gruvboxDark-red2"></div>
    </div>
    <nav class="font-azeret text-sm">
      <ul class="flex h-full gap-1">
        <NavLink href="/">
          <IconHome class="size-4" />

          <span class="sr-only sm:not-sr-only">Home</span>
        </NavLink>

        <NavLink href="/contact/">
          <IconEmail class="size-4" />

          <span class="sr-only sm:not-sr-only">Contact</span>
        </NavLink>
      </ul>
    </nav>
  </div>
  <ThemeToggle client:only="solid-js" transition:persist />
</header>

<script>
  let prevScrollPos = window.scrollY;
  window.addEventListener("scroll", () => {
    let currentScrollPos = window.scrollY;

    const header = document.querySelector("header");
    if (header) {
      if (prevScrollPos > currentScrollPos) {
        header.classList.replace("-top-10", "top-0");
      } else if (currentScrollPos > 256.0) {
        header.classList.replace("top-0", "-top-10");
      }
    }

    prevScrollPos = currentScrollPos;
  });
</script>
