---
const { href } = Astro.props;
const { pathname } = Astro.url;
const isActive =
  href === pathname ||
  href === pathname.replace(/\/$/, "") ||
  (href.startsWith("/blog") && pathname.startsWith("/blog"));
---

<li>
  <a
    data-astro-prefetch="load"
    href={href}
    class={"group relative h-8 w-16 sm:w-36 md:w-44 flex rounded-t" +
      (isActive ? " pointer-events-none dark:bg-gruvboxDark-bgH bg-gruvbox-bg" : "")}
  >
    <div
      class="z-40 flex h-full w-full items-center justify-center gap-2 p-1 px-3 sm:justify-normal"
    >
      <slot />
    </div>

    <div
      class="bg-gruvbox-bg dark:bg-gruvboxDark-bgH absolute inset-0 z-30 h-full w-full scale-90 rounded-t opacity-0 transition-all group-hover:scale-none group-hover:opacity-50"
    >
    </div>
  </a>
</li>
