.window {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.titlebar {
  background-color: #3c3836;
  display: block;
  height: 25px;
  text-align: center;
  padding: 0 8px 0 64px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.titlebar-buttons {
  border-radius: 50%;
  height: 14px;
  width: 14px;
  margin-top: 6px;
  margin-left: 8px;
  float: right;
}

.min {
  background-color: #d79921;
}

.max {
  background-color: #98971a;
}

.close {
  background-color: #cc241d;
}

.content::-webkit-scrollbar {
  display: none;
}

.content {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: auto;
  height: 280px;
  background-color: #32302f;
  padding: 20px 30px 20px;
  color: #ebdbb2;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
