@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
}

.link {
  color: #88c0d0;
}

body {
  font-family: 'DM Mono', monospace;
  line-height: 1.35;
  background-color: #2e3440;
  color: rgb(171, 185, 207);
  user-select: none;
}

div.wrapper {
  position: absolute;
  width: 520px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
}

.space-right {
  margin-right: 20px;
}
.space-bottom {
  margin-bottom: 20px;
}
.space-top {
  margin-top: 20px;
}
.text-justify {
  text-align: justify;
}

.author {
  color: #ebcb8b;
}

.connect {
  color: #a3be8c;
}
.disconnect {
  color: #bf616a;
}

@media only screen and (max-width: 600px) {
  div.wrapper {
    width: 90%;
  }
}

@media only screen and (max-height: 653.88px) and (max-width: 444.44px) {
  div.wrapper {
    margin: 5vw 0;
    margin-bottom: 0;
  }
}
