@tailwind base;
@tailwind components;
@tailwind utilities;

@media (pointer: fine) {
    body:hover > #trail_main,
    body:hover > #trail_outline {
        opacity: 1;
    }
}

.trail_hidden {
    opacity: 0 !important;
}

.trail_highlight {
    height: 0.4rem;
    width: 0.4rem;
    background: #3c3836;
}

.dark .trail_highlight {
    background: #ebdbb2;
}
