@tailwind base;
@tailwind components;
@tailwind utilities;

@media (pointer: fine) {
    body:hover > #trail_main,
    body:hover > #trail_outline {
        opacity: 1;
    }
}

.trail_hidden {
    opacity: 0 !important;
}

.trail_highlight {
    height: 0.4rem;
    width: 0.4rem;
    @apply bg-gruvbox-fg dark:bg-gruvboxDark-fg;
}

* {
    scrollbar-width: thin;
}

*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-thumb {
    @apply bg-gruvbox-bg2 dark:bg-gruvboxDark-bg2;
}
