@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light dark;
  }
  html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  * {
    scrollbar-width: thin;
  }
}

@layer utilities {
  .nb-shadow:hover {
    box-shadow: 0.25rem 0.25rem 0 0px #3c3836;
  }

  @media (pointer: fine) {
    body:hover > #__trail {
      opacity: 1;
      @apply transition-all duration-200;
    }
  }
  .trail_hidden {
    opacity: 0 !important;
  }
}
