@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light dark;
  }
  html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  * {
    scrollbar-width: thin;
  }
}

@layer utilities {
  .nb-shadow:hover {
    box-shadow: 0.25rem 0.25rem 0 0px #3c3836;
  }
}
