---
import Base from "./_base.astro";

import { type LayoutProps } from "~/consts";
export type Props = LayoutProps;

const { title, description, image } = Astro.props;
const pageImage = image || (title !== "404" ? "/images/cover.jpg" : undefined);
---

<Base title={title} description={description} image={pageImage}>
  <div class="mx-auto flex min-h-screen max-w-prose flex-col justify-center px-2">
    <slot />

    <script>
      // remove fbclid query param
      const url = new URL(location.href);
      if (url.searchParams.has("fbclid")) {
        url.searchParams.delete("fbclid");
        window.history.replaceState(null, "", url);
      }
    </script>
  </div>
</Base>
